# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/
*.egg-info/

# Dados (não versionar — arquivos grandes e/ou com restrição de licença)
data/*
!data/.gitkeep

# Resultados grandes
results/*
!results/.gitkeep
*.svs
*.tiff
*.tif
*.ckpt
*.pt
*.pth

# MkDocs
site/

# Ambiente
.env

# OS / editor
.DS_Store
.vscode/
